* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 202, 146);
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.login-form {
    width: 700px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type = "submit"] {
    background-color: #0F4C75;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type = "submit"]:hover {
    background-color: #1b262c;
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
}